form {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.btn-wrapper {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

.btn-wrapper > button {
  flex: 1 1 auto;
}
