* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

#root {
  width: 100%;
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 4rem;
}

@media (max-width: 600px) {
  #root {
    padding: 1rem 0.5rem;
  }
}

section {
  margin-bottom: 2rem;
  min-width: 300px;
}
